html {
    background-color: #FCFFCB;
}

body {
    background-color: transparent;
}

section {
    margin-bottom: 40px;
}

.jumbotron {
    position: relative;
    background: #c29719;
    width: 100%;
    min-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5px;
}

.container-fluid {
    padding: 0;
}

.j-left {
    background-color: lightskyblue;
    min-height: 250px;
    padding: 0;
}

.j-left img {
    width: 100%;

}

.j-right {
    display: inline-block;
    vertical-align: middle;
    padding-left: 45px;
}

.logo {
    position: absolute;
    margin: -50px 0 0 0;
    vertical-align: middle;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.logo img {
    height: 110px;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
nav {
    text-align: center;
    font-size: 1.3em;
}

.about-me {
    position: relative;
    background-color: #DCDCDC;
    /*background-image: url(http://placehold.it/1700x700);*/
    background-size: cover;
    overflow: hidden;
    padding: 25px 0;
}

.about-me img {
    margin: 25px 0;
    height: 90px;
    border-radius: 40%;
}

.about-me p {
    font-size: 1.2em;
}

.about-me .col-md-4 {
    background-color: rgba(220, 220, 220, .85);
    border-radius: 10px;
    padding: 10px;
}

.skills, .education {
    background-color: #07B2F5;
}

.skill-dashboard {
    padding: 5px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
    margin-bottom: 10px;
}

.summary {
    padding-left: 60px;
}
